.showCard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.tvShowPoster {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  background-color: var(--img-background-color);
}

.title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1rem;
}

.posterLink {
  color: white;
  text-decoration: none;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.tvShowPoster:hover,
.noPosterState:hover {
  -webkit-box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
  box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
}

@media screen and (max-width: 670px) {
  .title {
    font-size: 0.8rem;
  }
}
