.showCard {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0;
}

.tvShowPoster {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  background-color: rgba(95, 158, 160, 0.13);
}

.noPosterState {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.226);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1rem;
}

.posterLink {
  color: white;
  text-decoration: none;
}

.tvShowPoster:hover,
.noPosterState:hover {
  -webkit-box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
  box-shadow: 0px 0px 104px -19px rgba(199, 199, 199, 1);
}

@media screen and (max-width: 670px) {
  .tvShowPoster,
  .noPosterState {
    height: 70vw;
  }

  .title {
    font-size: 0.8rem;
  }
}
