#search-series-form {
  display: flex;
  place-items: center;
  position: relative;
  width: 100%;
}

#search-series-form:focus-within {
  outline: 1px solid rgb(108, 230, 223);
}

#search-series-form input {
  height: 50px;
  width: 100%;
  padding: 0.3vw 0.3vw 0.3vw 0.6vw;
  border: none;
}

#search-series-form button {
  position: absolute;
  right: 0.3vw;
  z-index: 2;
  background-color: rgb(67, 151, 147);
  color: white;
  height: calc(50px * 0.9);
  width: 110px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#search-series-form button:disabled {
  background-color: rgb(108, 230, 223);
  cursor: not-allowed;
}

@media screen and (max-width: 670px) {
  #search-series-form input {
    padding: 4px 4px 4px 7px;
  }

  #search-series-form button {
    right: 4px;
  }
}
