.castCard {
  display: flex;
  gap: 20px;
}

.castCard img {
  width: 25%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.castCard h3 {
  margin-bottom: 0;
}

.castCard p {
  margin: 0;
  font-weight: 200;
}

@media screen and (max-width: 670px) {
  .castCard img {
    width: 40%;
    aspect-ratio: 1 / 1;
  }
}
